.link-hide-text{overflow:hidden;text-indent:-9999px;background-repeat:no-repeat;cursor:pointer;}
.button-hide-text{text-indent:-9999px;display:block;font-size:0;line-height:0;background-color:transparent;border:0px solid #FFFFFF;overflow:hidden;cursor:pointer;}
html,body{font-family:Arial,Helvetica,sans-serif;color:#35393c;font-size:12px;line-height:18px;}
html{background-color:#FFF;background:-webkit-gradient(linear, left bottom, left top, from(#cdb7de), to(#ffffff 35%));background:-webkit-linear-gradient(bottom, #cdb7de, #ffffff 35%);background:-moz-linear-gradient(top, #cdb7de, #ffffff 35%);background:-ms-linear-gradient(top, #cdb7de, #ffffff 35%);background:-o-linear-gradient(top, #cdb7de, #ffffff 35%);background:linear-gradient(top, #cdb7de, #ffffff 35%);}
body{background-image:url(images/chosenspiral.png);background-position:left top;background-repeat:no-repeat;}
#page{padding:0px 12px 0px 12px;background-image:url(images/contentshadow.png);background-repeat:no-repeat;margin:auto auto;width:826px;margin-bottom:25px;background-position:0 137px;}
#content{min-height:327px;height:auto !important;height:327px;background-image:url(images/contenttransblock.png);background-repeat:repeat;padding:25px 25px 0px 25px;}#content ul{margin-top:-13px;margin-bottom:18px;}
#content li{background-image:url(images/bulletp.png);background-repeat:no-repeat;padding-left:22px;background-position:0 3px;}
#content ul.column{float:left;margin-right:30px;}
#content strong{font-weight:bold;}
#content em{font-style:italic;}
#content form{overflow:hidden;}
#content span.wpcf7-not-valid-tip{top:0;left:255px;width:auto;border:none;color:red;}
#content .your-message span.wpcf7-not-valid-tip{left:357px;}
#content span.wpcf7-form-control-wrap{display:block;}
#content div.wpcf7-response-output{font-weight:bold;margin:0;}
#colophon{background-image:url(images/roundedcorners.png);background-repeat:no-repeat;height:22px;}
.col-left{float:left;}
.col-right{float:right;}
.screen-reader-text,.assistive-text{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);}
.alignleft{display:inline;float:left;}
.alignright{display:inline;float:right;}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
h1,h2,h3,h4,h5,h6{color:#526ec8;line-height:1.2;font-weight:normal;}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#526ec8;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#526ec8;}
h1{font-size:20px;margin-bottom:0.3em;}
h2{font-size:15px;letter-spacing:1px;margin-bottom:3px;}
a{color:#526ec8;text-decoration:none;}
a:hover{color:#526ec8;text-decoration:underline;}
a:active,a:focus,button:active,button:focus{outline:none;-moz-outline-style:none;}
p{margin-bottom:18px;}
p:last-child{margin-bottom:0px;}
p.last{margin-bottom:0px;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
#nav{height:31px;clear:both;}
#mainbanner{height:147px;background-repeat:no-repeat;}
#home #mainbanner{background-image:url(images/homepagebanner.jpg);}
#about-me #mainbanner{background-image:url(images/aboutmebanner.jpg);}
#contact-details #mainbanner{background-image:url(images/contactbanner.jpg);}
#counselling #mainbanner{background-image:url(images/counsellingbanner.jpg);}
#gestalt-approach #mainbanner{background-image:url(images/gestaltbanner.jpg);}
#header #logo{float:right;margin:65px 24px 24px 0px;}#header #logo img{display:block;}
#nav ul{list-style:none;}
#nav li{display:inline;list-style-type:none;}
#nav li a{font-weight:bold;color:#35393C;float:left;padding:7px 10px 6px 10px;}
#nav li a:hover{color:#FFFFFF;background-image:url(images/navhoverbg3.png);text-decoration:none;}
#nav li.current_page_item a{color:#9f42d4;}
#nav li.current_page_item a:hover{color:#FFFFFF;}
#rightimage,#leftimage{width:185px;height:327px;}
#rightimage{margin:0 0 25px 25px;float:right;}
#leftimage{margin:0 25px 25px 0px;float:left;}
#content form input{border-radius:0.4em;-webkit-border-radius:0.4em;-moz-border-radius:0.4em;background:none repeat scroll 0 0 #FAFAFA;border:1px solid #DDDDDD;font:0.95em arial,sans-serif;padding:3px;width:213px;}
#content form .submit input{width:auto;padding:5px 15px;font-weight:bold;font-size:12px;background-color:#526EC8;color:#FFF;cursor:pointer;}#content form .submit input:hover{background-color:#526EC8;}
#content form input:hover,#content form input:focus{background:none repeat scroll 0 0 #F6F6F6;border-color:#C5C5C5;}
#content form textarea{border-radius:0.4em;-webkit-border-radius:0.4em;-moz-border-radius:0.4em;background:none repeat scroll 0 0 #FAFAFA;border:1px solid #DDDDDD;font:0.95em arial,sans-serif;padding:0.15em;}
#content form textarea:hover,#content form textarea:focus{background:none repeat scroll 0 0 #F6F6F6;border-color:#C5C5C5;}
#content form select{border-radius:0.4em;-webkit-border-radius:0.4em;-moz-border-radius:0.4em;background:none repeat scroll 0 0 #FAFAFA;border:1px solid #DDDDDD;font:bold 0.95em arial,sans-serif;padding:0.15em;width:109px;}
#content form select:hover,#content form select:focus{background:none repeat scroll 0 0 #F6F6F6;border-color:#C5C5C5;}
#content form option{background:none repeat scroll 0 0 #F6F6F6;margin:3px 3px 2px;padding:0;}
#content form label{float:left;margin-right:1em;text-align:right;width:10em;}
#content form legend{color:#526ec8;font-size:1.2em;}
#content form fieldset{border:1px solid #DDDDDD;padding:4px 0.5em 0.5em;}
#content form fieldset div{clear:both;margin:0.3em 0;}
